<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>
    <div class="info">
        <strong>Тут автор</strong>
        <small>12.09.2019</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, voluptatem asperiores quae quam, nam ipsum qui alias laudantium tenetur eveniet placeat nemo perspiciatis vel non error fugiat aliquam sapiente earum?
        Cumque praesentium id quibusdam qui tenetur asperiores est veniam sint saepe consequatur et facilis voluptatem, dolorem iste quia incidunt explicabo tempore, sapiente perferendis, ratione exercitationem facere? Ipsa iste magni animi!
        Cupiditate minus veniam consequuntur laborum voluptas nesciunt modi suscipit recusandae est, voluptatem, qui illum tempora eveniet culpa voluptate quasi consequatur deserunt. Qui corrupti expedita blanditiis voluptates tempore autem accusamus eos.
        Natus tempore iusto voluptatem eaque quasi consequuntur officiis nulla mollitia id possimus culpa totam fuga quaerat esse vero, placeat, quod iste, impedit ducimus. Cum excepturi eius totam quisquam, quo optio?
        Maxime adipisci doloribus, eveniet minima suscipit ipsam vel quae odit, ipsa sequi nisi aperiam accusantium architecto expedita soluta voluptates beatae rerum error. Quisquam consequatur voluptas odio labore, quis ipsam vero.
        Exercitationem fuga sequi molestias illo assumenda vitae, quis repellat laborum tempore a iure totam beatae, nihil doloribus, sunt nesciunt officiis saepe nemo esse reprehenderit eos maxime culpa. Tempore, magnam eum.
        Dolorem non vitae amet repudiandae nulla autem rerum id officia vero laudantium laborum modi perferendis neque numquam, iste, magni ab? Vero, praesentium? Nihil vero ullam optio ipsum modi aspernatur veniam.
        In quibusdam tenetur dolor impedit similique nostrum dolores numquam veniam incidunt fuga optio dicta est ut, reprehenderit perspiciatis? Eaque alias totam assumenda molestiae. Eius dolores eos ab excepturi accusantium quis?
        Molestiae magnam incidunt commodi cumque vero quis similique expedita consectetur ullam aut? Mollitia ullam, unde minima fuga voluptates rem non dolore voluptas iusto id odio voluptate sequi quod ab soluta?
        Autem molestias velit ipsa accusantium minima perspiciatis nobis saepe laborum corrupti nisi rem, dolore cupiditate perferendis quos? Facere quos consectetur est vitae inventore alias reprehenderit quo praesentium, consequatur itaque laudantium.
        Ipsa labore commodi voluptates optio odio. Harum labore dolores id tempore doloremque excepturi. Consequuntur soluta ex molestias ut? Totam quo porro qui, tenetur aliquam sunt accusantium minima quae asperiores accusamus.
        Cumque, rem voluptate placeat a at saepe quasi tempore minima rerum pariatur laudantium velit impedit quod ex. Vero odit, tempora eligendi laudantium laboriosam iusto voluptas et atque molestiae rem quis.
        Quibusdam possimus, officiis odit repellendus iusto delectus fugit tenetur? Corrupti asperiores dolor maiores illum eveniet vitae a provident ipsa tempora dolorem magni, facere in quo rerum? Sunt rerum dolorem porro.
        Fugit beatae eaque voluptatem quia, voluptatum ipsa natus porro totam, asperiores cupiditate obcaecati magnam dolore illum similique. Expedita, perspiciatis ea repudiandae nostrum quidem maiores mollitia dolorem non illo rerum sapiente?
        Ut hic porro laborum animi dolor, architecto voluptates autem alias illum expedita inventore quaerat provident aspernatur doloribus veniam cum maiores voluptatem incidunt dolores impedit rerum temporibus sit. Vel, voluptatem illum.
        Velit harum nam nostrum consequuntur a exercitationem, sunt quo ea non, quod expedita ratione. Quis dolorum quae earum iure error doloremque reiciendis consequuntur facere. Dolore eligendi perferendis asperiores esse. Iste.
        Rerum, cumque quam exercitationem praesentium ex perferendis. Ea maxime, eos, distinctio quidem molestiae quibusdam quis expedita corporis earum rem, corrupti pariatur nobis dolor animi fuga exercitationem provident minus adipisci quas.
        Facere, ratione explicabo perferendis expedita tenetur corporis laudantium esse neque placeat. Voluptas iste blanditiis tenetur repellat enim minima iusto praesentium sapiente quas, provident consequuntur fuga officia ad doloremque distinctio quaerat.
        Soluta natus cum saepe vero tempore eius harum, non obcaecati placeat optio veritatis, ea temporibus consequatur fuga eaque asperiores tempora maxime officia voluptatem corrupti? Iste mollitia fuga assumenda beatae voluptatem!
        Autem maxime eveniet amet fugit optio illo rem molestias eius est. Odio aperiam quod reprehenderit commodi obcaecati perferendis, accusantium officiis ea natus, fugiat similique, deserunt doloribus eligendi doloremque dignissimos in.
        Reprehenderit quisquam ipsa, eos rerum nesciunt vitae cupiditate suscipit repudiandae pariatur quod sint voluptatum hic voluptatibus labore, deleniti dolor vero. Provident officiis, tempora soluta fugit eligendi rem illo quibusdam aliquid!
        Illo suscipit aut obcaecati, blanditiis, repudiandae facilis ex harum aliquid numquam unde doloribus nulla? Omnis, repellendus aliquid repudiandae rerum praesentium a eius neque, consequuntur voluptate similique porro ipsum natus debitis.
        Et esse adipisci architecto quidem. Corrupti beatae aliquid, autem consequuntur ut, nisi repudiandae eligendi excepturi rerum eius error aspernatur dolores impedit, officia odit atque architecto repellat! Deleniti accusamus id amet.
        Quidem expedita, ea consequatur pariatur earum voluptates velit enim ipsam fuga quia labore tenetur natus optio deleniti at? Velit reiciendis et praesentium recusandae repudiandae ex accusantium enim aspernatur porro architecto.
        Et quod maiores assumenda laborum inventore aut? Sequi totam, consequatur fugiat qui eligendi itaque recusandae minus. Quas sit architecto quia. Optio quos dolore omnis repellat! Veritatis iusto nisi deleniti suscipit!
        Nesciunt quam voluptatibus voluptatum aut magnam deserunt eos excepturi, unde animi doloremque provident. Veniam repudiandae blanditiis ratione minus? Iure, nam et illo suscipit eum deserunt eos. Quaerat impedit ad pariatur!
        Quod sint a quas beatae inventore, eius voluptate porro maiores nemo illo, repellendus consequuntur! Minima in eveniet omnis soluta vitae deleniti animi dolore, nemo molestiae nam eligendi atque amet itaque!
        Error corrupti, culpa voluptas totam unde inventore tempora accusamus, dolorum, quas quae repellat placeat! Fugit laboriosam asperiores autem aperiam officiis, voluptatem, consequuntur animi eius, impedit possimus deleniti non ut ab?
        Quibusdam culpa distinctio laborum quia, ad laboriosam dolorum enim illum, optio accusamus a reiciendis nostrum hic. Nemo ea obcaecati, commodi sequi ipsa aperiam velit, ad optio praesentium sint illo corrupti?
        Aperiam nisi officia, dolorum quasi enim quas odio, ipsam debitis accusamus sint a quibusdam iusto consequuntur eos? Incidunt, illo consectetur minima maiores suscipit exercitationem nesciunt voluptatum similique earum, tempora odit!
        Dolor expedita atque officiis ea odit distinctio maxime adipisci unde ratione! Quaerat tempora porro nemo quos magnam, alias doloremque blanditiis rerum illum, sequi amet quia enim est corrupti nihil odio.
        Sapiente hic itaque velit inventore autem explicabo enim. Voluptatibus quas et ducimus eveniet! Dolores voluptatum aut, dicta, illo rem similique tempora minima, numquam fuga perferendis quas modi quisquam explicabo molestiae.
        Omnis tempora possimus natus deserunt saepe nulla neque fugiat, minima quidem id quaerat modi asperiores quos. Veritatis consectetur numquam dolore magnam. Soluta et maxime saepe omnis assumenda laboriosam nemo perferendis!
        Ut deleniti totam unde odio a similique soluta voluptates vel corporis omnis recusandae reprehenderit odit, harum saepe quasi, impedit vitae nobis delectus at officiis provident, rem ad? Dignissimos, impedit veniam?
        Rem dolorem cumque asperiores quasi mollitia repudiandae, id quod debitis molestias ab voluptatibus eius reiciendis ipsum similique aliquam quaerat. Necessitatibus numquam nesciunt illum blanditiis praesentium tempore voluptatum sit ut a.
        Non laudantium, id at est laboriosam cupiditate perspiciatis saepe eligendi ut minus illo quis reprehenderit nulla voluptas! Nisi sequi libero, pariatur aperiam dignissimos doloribus tempore totam laboriosam veniam fugiat nemo?
        Ratione in eaque asperiores. Quam, earum, vel sequi corrupti voluptas maxime, exercitationem beatae quis minima laboriosam veritatis nesciunt aliquid eum sed dicta! Dolor reprehenderit nihil officiis corrupti explicabo ab consequuntur!
        Voluptas, natus id dolorum consequatur nobis numquam ex alias officiis unde cumque et reiciendis nemo omnis veritatis quibusdam sunt, ducimus suscipit fugiat rerum dolore voluptatum eius quam. Soluta, dolore laudantium.
        Labore obcaecati eius exercitationem delectus eos ab, consectetur, debitis hic esse corrupti atque. Consectetur, ratione? Cumque, ipsam deleniti accusantium optio quidem similique ipsum ab dolorem deserunt atque quibusdam soluta quo?
        Blanditiis, fugit veniam eos odit nemo nam! Sit distinctio ipsa ullam in placeat, ut dolores modi molestiae similique rem hic optio consequuntur velit doloribus, labore illo? Similique delectus provident voluptate.
        Incidunt accusamus cumque dicta sed velit impedit id repudiandae, odio animi laudantium magnam explicabo libero eius assumenda ad voluptate est fuga accusantium dolor repellat sequi cupiditate nihil facere unde. Vitae!
        Repellat aperiam molestiae consectetur tempora obcaecati at quos id perferendis quidem dolorum libero dolores delectus assumenda cum asperiores dolor, quaerat culpa iusto. Sequi quod, modi neque ipsum labore alias quae!
        Eos ipsum vitae pariatur ex quis id magni voluptatibus ad eveniet, ut numquam in officiis animi facere fuga doloremque laudantium eaque soluta, veniam deleniti perferendis nam consectetur culpa. Sequi, expedita.
        Nihil tenetur necessitatibus officia quos autem laudantium commodi quod voluptatum enim, eveniet error eum accusantium expedita aperiam dicta deleniti voluptatem. Numquam nulla similique, maxime ullam adipisci amet mollitia necessitatibus eaque!
        Sint, ducimus possimus fugit quod saepe nulla vel porro repellendus doloribus, quos iste ad explicabo temporibus nisi officia? Suscipit optio expedita at vero earum sunt delectus quaerat libero eveniet voluptate?
        Sint voluptas voluptates adipisci laborum consequatur nam quidem tempora porro magnam quasi non temporibus ullam officia nemo, vero quod obcaecati ducimus perferendis deserunt corrupti sapiente odit illo. Recusandae, nulla voluptatem.
        Optio ea doloribus explicabo nisi obcaecati ducimus dolorum consequuntur culpa illum dignissimos laboriosam nihil vitae fugit vero, eveniet quis enim deserunt doloremque tempora quo est voluptatum sapiente. Eos, quo quasi!
        Voluptas eum laudantium autem nemo odit, provident, ab ea, reiciendis at adipisci rem. Culpa repellat maiores voluptas id quos velit tempora ducimus quod? Quam quae illo debitis iure minima at.
        Molestias alias magnam repellat necessitatibus rem maiores ipsum sunt error, minima, possimus neque officiis. Dignissimos, aspernatur. Eos sint neque molestias, at, distinctio velit saepe quo corporis quidem rem debitis nesciunt?
        Repudiandae, rem soluta! Dignissimos natus deserunt itaque distinctio doloribus quas nemo minus dolorem quae tempore architecto, porro laborum magnam consequuntur reiciendis quaerat! Optio aperiam nesciunt sapiente placeat, odio dolor est.</p>
        
    </div>
</div>