<div class="card">
    <div class="card-header">
        <h2>Post title</h2>
        <small>12.09.2019</small>
    </div>

    <div>
        <small>Zhenya</small>
    </div>
    <button [routerLink]="['/post', 2154]" class="btn btn-dark">Октрыть</button>
</div>